.experiencia {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 100px;
  padding: 25px 60px;
  /* background-color: aqua; */
}

.subtitulo {
  color: #e0e0e0;
  align-self: center;
}

.experiencia-texto {
  font-size: 1.25rem;
  line-height: 1.33;
  margin-bottom: 60px;
  color: #525252;
}

.experiencia-texto strong {
  color: #141414;
}

.container-experiencia-topico {
  background-color: #f5f5f5;
  padding: 20px;
  display: grid;
  grid-template-columns: 60% 40%;
  gap: 40px;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.cargo {
  font-weight: bold;
  font-size: 1.125rem;
  grid-row: 1;
  grid-column: 2;
  width: max-content;
  justify-self: center;
  margin-right: 30px;
}

.ano {
  position: absolute;
  top: 23px;
  left: -80px;
  text-align: right;
  color: #525252;
}

.ano-duplo {
  position: absolute;
  top: 23px;
  left: -100px;
  text-align: left;
  color: #525252;
}

.container-experiencia-topico::before {
  content: "";
  height: 25px;
  width: 4px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  border-radius: 3px;
  position: absolute;
  top: 20px;
  left: -3px;
}

.nome-empresa {
  font-weight: bold;
  font-size: 1.125rem;
}

.container-experiencia-topico p {
  grid-column: 1;
}

.empresa-texto {
  font-size: 0.875rem;
  color: #525252;
  line-height: 1.4;
}

.hard-skills {
  display: flex;
  /* background-color: #67dd0a; */
  flex-wrap: wrap;
  gap: 5px;
  align-content: center;
  justify-content: center;
  max-width: 220px;
}

.hard-skills li {
  background-color: #ffffff;
  padding: 5px 10px;
  font-size: 0.875rem;
  line-height: 1.4;
  border-radius: 4px;
}
