.rodape-content{
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 20px 0px;
  background: #000000;
}

.texto-footer{
  padding: 20px 40px;
  font-size: 1.25rem;
  line-height: 1.33;
  color: #a3a3a3;
  display: flex;
 flex-direction: column;
 align-items: center;
}

.contato-email, .contato-telefone{
  display: block;
}

.rodape-content-contatos{
 display: flex;
 flex-direction: column;
 align-items: center;

}

.contato-email{
  padding: 20px 0px 0px 0px;
  color: #ffffff;
  
}

.contato-telefone{
  padding: 10px 0px 0px 0px;
  color: #ffffff;
}

.redes-sociais{
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
  padding: 10px 0px 0px 0px;
}

.footer-copy{
  background-color: #000000;
  color: #8F8F8F;
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-size: 0.875rem;
}


