.rodape-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: 600px 600px; */
  grid-template-columns: 50% 50%;
  padding: 20px 0px;
  background: #000000;
  position: relative;
}

.texto-footer {
  padding: 50px 40px;
  font-size: 1rem;
  line-height: 1.33;
  color: #a3a3a3;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 43ch;
  justify-self: center;
}

/* .contato-email, .contato-telefone{
  display: block;
} */

.rodape-content-contatos {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px 0px;
}

.contato-email {
  padding: 20px 0px 0px 0px;
  color: #ffffff;
}

.contato-telefone {
  padding: 10px 0px 0px 0px;
  color: #ffffff;
}

.redes-sociais {
  display: flex;
  flex-wrap: wrap;
  gap: 15px 15px;
  padding: 10px 0px 0px 0px;
}

.footer-copy {
  background-color: #000000;
  color: #8f8f8f;
  text-align: center;
  padding: 0px 0px 10px 0px;
  font-size: 0.875rem;
}

.rodape-content::before {
  content: "";
  height: 140px;
  width: 4px;
  border-radius: 4px;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  position: absolute;
  top: 30px;
  left: 50%;
  /* margin: 0 auto; */
}


@media (max-width: 480px){

  .rodape-content::before {
    content: "";
   display: none;
}

.rodape-content{
  grid-template-columns: 1fr;
  justify-content: center;
}

.texto-footer{
  max-width: 40ch;
}

}
