.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.header-menu {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0px 20px;
  gap: 20px;
  justify-content: center;
}

.header-menu li {
  display: flex;
  border-radius: 4px;
  background-color: #f7f7f7;
}

.header-menu a {
  font-size: 1.125rem;
  display: block;
  gap: 20px 10px;
  padding: 10px 30px;
  color: black;
}

.header img {
  padding: 15px 0px 15px 50px;
}


@media (max-width: 650px) {
  .header-menu a {
    width: 80px;
  }
}

@media (max-width: 500px) {
  .header {
    flex-direction: column;
  }

  .header img {
    flex-direction: column;
    margin: 30px auto;
  }

  .header-menu {
    margin: 0;
    padding: 0;
  }

  .header img {
    margin: 0;
    padding: 20px 0px;
  }
}
