.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px 25px 60px;
  align-items: center;
  /*  background-color: #ddd; */
}

.introducao img {
  display: block;
}

.introducao-conteudo {
  grid-column: 2/-1;
  padding: 50px 0px 0px 150px;
  /*  background-color: #f6f6f6; */
  position: relative;
}

.introducao-conteudo h1 {
  font-size: 4rem;
  /* background-color: aliceblue; */ /*  */
  min-width: 15ch;
}

.introducao-conteudo p {
  font-size: 1.5rem;
  padding: 40px 5px;
  color: #525252;
  /* background-color: antiquewhite; */ /*  */
}

.introducao-conteudo h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 120px;
  position: absolute;
  background: url("../img/detalhe.svg") no-repeat;
  z-index: -1;
  top: 20px;
  left: 100px;
}

.introducao-conteudo::after {
  content: "";
  width: 450px;
  height: 6px;
  position: absolute;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  border-radius: 4px;
  z-index: 0;
  top: 450px;
  left: 155px;
}

.strong-html:hover {
  color: #e36e02;
}

.strong-css:hover {
  color: #0008c6;
}

.strong-js:hover {
  color: #e7cf00;
}

@media (max-width: 1080px) {
  .introducao {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 700px) {
  .introducao-conteudo::after {
    content: "";
    top: 400px;
    left: 155px;
  }
}
