.introducao {
  display: grid;
  grid-template-columns: 1fr 2fr;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 60px 25px 60px;
  align-items: center;
}

.introducao img {
  display: block;
}

.introducao-conteudo {
  grid-column: 2/-1;
  padding: 50px 0px 0px 150px;
  position: relative;
}

.introducao-conteudo h1 {
  font-size: 4rem;
  min-width: 15ch;
}

.introducao-conteudo p {
  font-size: 1.5rem;
  padding: 40px 5px;
  color: #525252;
}

.introducao-conteudo h1::before {
  content: "";
  display: block;
  width: 130px;
  height: 120px;
  position: absolute;
  background: url("../img/detalhe.svg") no-repeat;
  z-index: -1;
  top: 20px;
  left: 100px;
}

/* .introducao-conteudo::after {
  content: "";
  width: 450px;
  height: 6px;
  position: absolute;
  background: linear-gradient(180deg, #b6f829 0%, #67dd0a 100%);
  border-radius: 4px;
  z-index: 0;
  top: 450px;
  left: 155px;
} */

.strong-html:hover {
  color: #e36e02;
}

.strong-css:hover {
  color: #0008c6;
}

.strong-js:hover {
  color: #e7cf00;
}

@media (max-width: 600px) {
  .introducao img {
    display: none;
  }

  .introducao {
    grid-template-columns: 1fr;
    padding: 0;
    justify-content: center;
    margin-top: 30px;
  }

  .introducao h1 {
    font-size: 2rem;
    padding: 0;
    text-align: center;
  }

  .introducao-conteudo {
    padding: 0;
    justify-self: center;
    grid-template-columns: 1fr;
    grid-column: 1;
  }

  .introducao-conteudo p {
    display: none;
  }

  .introducao-conteudo h1::before {
    content: "";
    display: block;
    width: 130px;
    height: 120px;
    position: absolute;
    top: -50px;
    left: -20px;
  }
}
