@import "./header.css";
@import "./introducao.css";

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #141414;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}
