@import "./header.css";
@import "./introducao.css";
@import "./experiencia.css";
@import "./formacao.css";
@import "./footer.css";

html {
  display: grid;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Fira Sans", Arial, Helvetica, sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #141414;
  max-width: 1200px;
  margin: 0 auto;
}

h1,
h2,
h3,
p {
  margin: 0;
}

ul,
a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

img {
  display: block;
}

.subtitulo {
  font-size: 8rem;
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  max-width: 4ch;
}


















